.label {
  margin: 8px;

  .radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 2px solid #aaaaaa;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;

    &:hover {
      border: 2px solid dodgerBlue;
    }

    &:checked {
      border: 6px solid dodgerBlue;
    }
  }
}