.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Barlow Condensed', sans-serif;

  .text {
    font-size: 55px;
    font-weight: bold;
    background-color: dodgerBlue;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px #aaaaaa;
    border-radius: 5px;

    span {
      padding: 0 4px;
      font-weight: normal;
    }
  }
}